@import 'common/foundation/variables.scss';

.section__title-mini{
  font-size: 20px;
  font-weight: 600;
  line-height: 31px;
  padding: 4px 0;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}