<div class="common-modal__overlay-static">
  <div class="common-modal" id="signup-modal">
    <div class="common-modal__header">
      <h2 class="common-modal__title">
        パスワードの更新
      </h2>
    </div>
    <div class="common-modal__body">
      <div class="common-form">

        <%= form_for(resource, as: resource_name, url: user_password_path, html: { method: :post }) do |f| %>
          <%= render "users/shared/error_messages", resource: resource %>
          <div class="field">
            <%= f.email_field :email, autofocus: true, autocomplete: "email",:placeholder => "example@gmail.jp" %>
          </div>
          <div class="actions" style="margin-top: 20px;">
            <%= f.submit "送信する", class:"square-btn" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="common-modal__footer">

    </div>
</div>