@import 'common/foundation/variables.scss';

.flash{
  text-align: center;
  margin-bottom: 0!important;
  font-weight: 600;
}
.alert{
  text-align: center;
  margin-bottom: 0!important;
  font-weight: 600;
}

.notice{
  position: relative;
  padding: .75rem 1.25rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  font-weight: 600;
  @media(max-width: $md){
    text-align: left;
  }
}

.alert-notice{
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

.alert-alert{
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.common-loading-overlay{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.7);
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1100;
}
.common-loading {
  color: #ffffff;
  font-size: 14px;
  margin: 100px auto;
  border-radius: 50%;
  position: relative;
}

.common-loading__text-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
	-webkit-animation:blink 1s ease-in-out infinite alternate;
    -moz-animation:blink 1s ease-in-out infinite alternate;
    animation:blink 1s ease-in-out infinite alternate;
}