<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>

  <body>
    <%= render "shared/public/header" %>

    <main class="main">
      <%= yield %>
    </main>
    <%= render "shared/public/login_signup_modal" %>
  </body>
</html>
